<h1 class="text-center pt-5"><%= t ".title" %></h1>
<div class="container-xxl py-5">
  <div class="container row">
    <div class="col-lg-6 offset-3">
      <%= form_for :session do |f| %>
        <div class="row g-3">
          <div class="col-md-12">
            <div class="form-floating">
              <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
              <%= f.label :email %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <%= f.password_field :password, class: "form-control", placeholder: t(".password") %>
              <%= f.label :password, t(".password") %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, t(".remember_me") %>
            </div>
          </div>
          <div class="col-12">
            <%= f.submit t(".title"), class:"btn btn-primary w-100 py-3" %>
          </div>
        </div>
      <% end %>
      <p class="my-2"><%= t ".new_user" %> <%= link_to t("layouts.header.signup"), signup_path %></p>
    </div>
  </div>
</div>
