<div class="container mt-5 w-100">
  <div class="px-5">
    <h1 class="text-center p-3"><%= t ".title" %></h1>
    <div class="shadow">
      <%= form_for @room, url: admin_room_path do |f| %>
        <div class="row">
          <div class="col-lg-4 col-sm-12">

            <div id="room_images" class="carousel slide" data-bs-ride="carousel">
              <% if @room.room_type.images.attached? %>
                <h5 class="text-center"><%= t ".demo_image" %></h5>
                <div class="carousel-inner">
                  <% @room.room_type.images.each_with_index do |image, index| %>
                    <div class="carousel-item <%= "active" if index == 0 %>">
                      <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
                      <div class="text-center">
                        <%= image_tag image.variant(:display), class: "w-100"%>
                      </div>
                    </div>
                  <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#room_images"
                                data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#room_images"
                                data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              <% else %>
                <%= t ".no_image" %>
              <% end %>
            </div>

          </div>
          <div class="col-lg-8 col-sm-12">
            <div class="m-3">
              <div>
                <div class="row row-cols-lg-2 row-cols-sm-1 w-100">
                  <div class="mb-3">
                    <%= f.label :name, t(".name"), class: "form-label fw-bold" %>
                    <%= f.text_field :name, class: "form-control" %>
                  </div>

                  <div class="mb-3">
                    <%= f.label :view_type, t(".view_type"), class: "form-label fw-bold" %>
                    <%= f.select :view_type, view_type_options_for_save, {}, class: "form-select" %>
                  </div>

                  <div class="mb-3">
                    <%= f.label :room_type_id, t(".room_type"), class: "form-label fw-bold" %>
                    <%= f.select :room_type_id, room_type_id_options, {}, class: "form-select" %>
                  </div>

                  <div class="mb-3">
                    <div class="col"><strong><%= t ".created_at" %></strong></div>
                    <div class="col"><%= l @room.created_at, format: :short_date %></div>
                  </div>

                  <div class="mb-3">
                    <div class="col"><strong><%= t ".status" %></strong></div>
                    <div class="col">
                      <%= show_tag_status_room @room.status %>
                      <%= show_button_status_room @room %>
                    </div>
                  </div>

                  <div class="mb-3"></div>
                  <div class="mb-3">
                    <div class="col"><strong><%= t ".facilities" %></strong></div>
                    <ul class="row row-cols-2">
                      <% @room.room_type.facilities.each do |ff| %>
                        <li><%= t ff.name %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mb-3 p-3">
          <%= f.submit t(".btn_update"), class: "w-50 btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
