<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4"><%= t ".welcome" %></h1>
    <hr class="my-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= link_to t(".manage_user"), "#", class: "text-secondary text-uppercase fs-3 text-decoration-underline" %>
      </li>
      <li class="list-group-item">
        <%= link_to t(".manage_room"), "#", class: "text-secondary text-uppercase fs-3 text-decoration-underline" %>
      </li>
      <li class="list-group-item">
        <%= link_to t(".booking_request"), admin_bookings_path, class: "text-secondary text-uppercase fs-3 text-decoration-underline" %>
      </li>
      <li class="list-group-item">
        <%= link_to t(".review_request"), "#", class: "text-secondary text-uppercase fs-3 text-decoration-underline" %>
      </li>
      <li class="list-group-item">
        <%= link_to t(".statistic"), "#", class: "text-secondary text-uppercase fs-3 text-decoration-underline" %>
      </li>
    </ul>
  </div>
</div>
