<div class="row border border-dark mb-3">
  <h3 class="col-6 text-start border-bottom border-dark" style="background-color: #FEA116;"><%= t ".code" %>: #<%= booking.id %></h3>
  <h3 class="col-6 text-end border-bottom border-dark" style="background-color: #FEA116;"><%= t ".book_day" %>: <%= l booking.book_day, format: :short_date_time %></h3>
  <h4 class="col-8 text-start"><%= t ".book_name" %>: <%= booking.full_name %></h4>
  <h4 class="col-4 text-end"><%= t ".status" %>: <%= t booking.status %></h4>
  <div class="col-8 text-start row">
    <h4><%= t ".check_in" %>: <%= l booking.check_in, format: :short_date %></h4>
    <h4><%= t ".check_out" %>: <%= l booking.check_out, format: :short_date %></h4>
  </div>
  <div class="col-4 text-end d-flex align-items-end justify-content-end mb-4">
    <a href="#" class="btn btn-primary p-3" style="color: black"><%= t ".view_detail" %></a>
  </div>
</div>
