<!-- Booking Start -->
<div class="container-xxl py-5">
  <h1 class="text-center"><%= t ".title" %></h1>
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 border-end border-dark border-2">
        <h1><%= t ".total" %>: <%= current_user.bookings.count %></h1>

        <% if @bookings.empty? %>
          <%= t ".no_booking_request" %>
        <% else %>
          <%== pagy_bootstrap_nav @pagy %>
          <%= render @bookings %>
          <%== pagy_bootstrap_nav @pagy %>
        <% end %>

      </div>
      <div class="col-lg-6 overflow-auto">
        <div class="border border-dark d-flex justify-content-center align-items-center">
          <div id="show-detail-booking" >
            ...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Booking End -->
