<h4><%= t ".dear", full_name: @booking.full_name  %></h4>
<h4><%= t ".respect_inform", code: @booking.id %></h4>
<ul>
  <li><%= t ".book_day", book_day: l(@booking.book_day, format: :short_date_time) %></li>
  <li><%= t ".check_in", check_in: l(@booking.check_in, format: :short_date) %></li>
  <li><%= t ".check_out", check_out: l(@booking.check_out, format: :short_date) %></li>
  <li><%= t ".room_name", room_name: @booking.room.name %></li>
  <li><%= t ".room_type", room_type: t(@booking.room.room_type) %></li>
</ul>
<h4><%= t ".contact", phone: Settings.hotel.phone, email: Settings.hotel.email %></h4>
<h4><%= t ".thanks" %></h4>
