<div class="col-12 p-2 shadow border">
  <div class="row">
    <div class="col-4">
      <%= image_tag "img/carousel-2.jpg", class: "img-fluid"%>
    </div>
    <div class="col-5">
      <h1><%= t item.name %></h1>
      <h4>
        <%= t(".info_bed", num: item.num_of_bed, size: t("bed_type." + item.size_of_bed )) %>
      </h4>
      <div class="mb-2">
        <h5><%= t ".facility" %>:
          <% item.facilities.each do |f| %>
            <span class="badge bg-secondary"><%= t f.name %></span>
          <% end %>
        </h5>
      </div>
      <h6><%= t ".view" %>: <%= t view_type_name(item.view_type) %></h6>
      <h6 class="text-danger"><%= t ".availabel", count: item.room_count %></h6>
    </div>
    <%= form_tag new_booking_path, method: :get, class: "col-3 row" do %>
      <%= hidden_field_tag :room_type_id, item.id %>
      <%= hidden_field_tag :view_type, item.view_type %>
      <%= hidden_field_tag :check_in, check_in %>
      <%= hidden_field_tag :check_out, check_out %>
      <%= hidden_field_tag :num_guest, num_guest %>
      <%= hidden_field_tag :price, item.price %>
      <div class="col-4 d-flex flex-column justify-content-center align-items-center">
        <%= label_tag :amount, t(".amount") %>
        <%= select_tag :amount, options_for_select((1..item.room_count).to_a), class: "form-select" %>
      </div>
      <div class="col-8 d-flex flex-column justify-content-evenly align-items-center">
        <div><%= number_to_currency item.price %> / <%= t(".night") %></div>
        <div><%= submit_tag t(".book_now"), class: "btn btn-sm btn-primary rounded py-2 px-4" %></div>
        <div><%= link_to t(".detail"), "#", class: "btn btn-sm btn-dark rounded py-2 px-4" %></div>
      </div>
    <% end %>
  </div>
</div>
