<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white" data-locale="<%= I18n.locale %>">
    <div class="container-xxl bg-white p-0">
      <%= render "admin/layouts/header" %>
      <% flash.each do |message_type, message| %>
        <% x = message_type == "alert" ? "danger" : (message_type == "notice" ? "success" : message_type) %>
        <div class="alert alert-<%= x %> alert-dismissible fade show m-0" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
