<div class="container mt-5 w-100">
  <div class="px-5">
    <h1><%= t ".profile" %></h1>
    <hr/>
    <div class="row g-5 px-5">
      <div class="col-lg-4 col-sm-12">
        <div class="border-end">
          <div class="text-center mb-3">
            <% if @user.profile_image.attached? %>
              <div class="text-center mb-3">
                <%= image_tag @user.profile_image.variant(:thumb), alt: @user.full_name, class: "shadow" %>
              </div>
            <% else %>
              <%= t ".no_image" %>
            <% end %>
          </div>
          <div class="text-center">
            <h3><%= @user.full_name %></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12">
        <div class="row border-bottom mb-3">
          <div class="col-lg-5 col-sm-12 mb-3"><%= t ".id" %></div>
          <div class="col-lg-7 col-sm-12 mb-3"><strong><%= @user.id %></strong></div>
          <div class="col-lg-5 col-sm-12 mb-3"><%= t ".full_name" %></div>
          <div class="col-lg-7 col-sm-12 mb-3"><strong><%= @user.full_name %></strong></div>
          <div class="col-lg-5 col-sm-12 mb-3"><%= t ".email" %></div>
          <div class="col-lg-7 col-sm-12 mb-3"><strong><%= @user.email %></strong></div>
          <div class="col-lg-5 col-sm-12 mb-3"><%= t ".created_at" %></div>
          <div class="col-lg-7 col-sm-12 mb-3"><strong><%= l @user.created_at, format: :short_date %></strong></div>
          <div class="col-lg-5 col-sm-12 mb-3"><%= t ".activated" %></div>
          <div class="col-lg-7 col-sm-12 mb-3">
            <%= show_status_lock @user %>
            <%= show_button_lock @user %>
          </div>
        </div>
        <div class="text-end">
          <%= link_to t(".btn_back"), admin_users_path, class: "btn btn-secondary mx-2 p-3" %>
        </div>
      </div>
    </div>

  </div>
</div>
